div{
  border-style: solid;
  border-color:green;
  border-width: 0px;
   border-radius: 1px;
  box-shadow: 10px 10px 10px yellowgreen ;
  float: left;
}
#buyuk{
  width: 200px;
  height: 200px;
  background-color: khaki;
 overflow: auto;








}

#kucuk{
  width: 300px;
  height: 100px;
  background-color: lawngreen;


}

#genis{
  width: 400px;
  height: 100px;
  background-color: lawngreen;


}
