
#sayfa{
  border-style: solid;
  border-color:red;
  border-width: 5px;
  width: 400px;
  min-height: 400px;
  margin: auto;

}
header{

  border-color:blue;
  width: 360px;
  height: 50px;
  margin:auto;
  background-color: chocolate;

}
nav{

  border-color:blue;
  width: 360px;
  height: 30px;
  margin:auto;
  background-color: seagreen;

}
article{

  border-color:green;
  width: 300px;
  min-height: 200px;
  margin:auto;
  background-color: lightgrey;
  float:left;
  position: relative;
  left: 20px;
}
aside{

  width: 60px;
  min-height: 200px;
  float: right;
  position: relative;
  right: 20px;
  background-color:grey;
}
footer{
  background-color: lightgreen;
  height: 120px;
  width: 360px;
  position: relative;
  left: 20px;

  float: left;

}
